css3-funny-menu/index.html
<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CodePen - CSS3 Funny Menu</title>

  <link href='http://fonts.googleapis.com/css?family=Lobster+Two:400,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />

</head>

<body>

<div class="wrapcube">
  <div id="a" class="cube">
    <div class="side front">HOVER ME</div>
    <div class="side left"></div>
    <div class="side right"></div>
    <div class="side back"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
  </div>
  <div id="b" class="cube">
    <div class="side front">HOVER ME</div>
    <div class="side left"></div>
    <div class="side right"></div>
    <div class="side back"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
  </div>
  <div id="c" class="cube">
    <div class="side front">HOVER ME</div>
    <div class="side left"></div>
    <div class="side right"></div>
    <div class="side back"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
  </div>
  <div id="d" class="cube">
    <div class="side front">HOVER ME</div>
    <div class="side left"></div>
    <div class="side right"></div>
    <div class="side back"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
  </div>
  <div id="e" class="cube">
    <div class="side front">HOVER ME</div>
    <div class="side left"></div>
    <div class="side right"></div>
    <div class="side back"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
  </div>
  <div id="f" class="cube">
    <div class="side front">HOVER ME</div>
    <div class="side left"></div>
    <div class="side right"></div>
    <div class="side back"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
  </div>
  <div id="g" class="cube">
    <div class="side front">HOVER ME</div>
    <div class="side left"></div>
    <div class="side right"></div>
    <div class="side back"></div>
    <div class="side top"></div>
    <div class="side bottom"></div>
  </div>
</div>
<h1>rotate menu<br/><small>by Wagner Moschini</small></h1>

  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

  <script src="js/index.js"></script>

</body>

</html>

css3-funny-menu/index.jade
.wrapcube
    #a.cube
        .side.front HOVER ME
        .side.left
        .side.right
        .side.back
        .side.top
        .side.bottom
      #b.cube
        .side.front HOVER ME
        .side.left
        .side.right
        .side.back
        .side.top
        .side.bottom
      #c.cube
        .side.front HOVER ME
        .side.left
        .side.right
        .side.back
        .side.top
        .side.bottom
      #d.cube
        .side.front HOVER ME
        .side.left
        .side.right
        .side.back
        .side.top
        .side.bottom
      #e.cube
        .side.front HOVER ME
        .side.left
        .side.right
        .side.back
        .side.top
        .side.bottom
      #f.cube
        .side.front HOVER ME
        .side.left
        .side.right
        .side.back
        .side.top
        .side.bottom
      #g.cube
        .side.front HOVER ME
        .side.left
        .side.right
        .side.back
        .side.top
        .side.bottom
h1 rotate menu
  br
  small by Wagner Moschini
